---
layout: "base.njk"
---

<section class="bg-white">
  <div class="container px-12 py-0 mx-auto">
    <div class="flex items-center py-4 overflow-x-auto whitespace-nowrap">
      <a href="#" class="text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0
          011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"/>
        </svg>
      </a>
      <span class="mx-5 text-gray-500">
        /
      </span>
      <a href="/" class="text-gray-600 hover:underline">
        Home
      </a>
      <span class="mx-5 text-gray-500">
        /
      </span>
      <a href="/blog/" class="text-gray-600 hover:underline">
        Blog
      </a>
      <span class="mx-5 text-gray-500">
        /
      </span>
      <a href="{{ post.url }}" class="text-blue-600 hover:underline">
        {{ title }}
      </a>
    </div>
    <div class="flex">
      <div>
        <img class="relative z-10 object-cover w-full rounded-md h-96 xl:h-[30rem]" src="{{ image }}" alt="">
          <div class="relative md:max-w-xl z-20 max-w-lg p-6 mx-auto -mt-20 bg-white rounded-md shadow">
            <a href="{{ post.url }}" class="font-semibold text-gray-800 hover:underline md:text-xl">
              {{ title }}
            </a>
            <p class="mt-3 text-sm text-gray-500 md:text-sm">
              {{ description }}
            </p>
            <p class="mt-3 text-sm text-green-500">{{ releasedate }}</p>
          </div>
          <div>
            {{ content | safe }}
          </div>
        </div>
      </div>
    </div>
  </section>